# Week 8 handin

## Week 8 Python exercises
Denne liste af milkshakes skal bruges i opgaverne herunder.

Milkshakemenuen:

Chokolade 0.5l 25kr
Chokolade 0.75l 30kr
Vanilje 0.5l 25kr
Vanilje 0.75l 30kr
Banan 0.5l 30kr
Ananas 0.5l 30kr
Mint 0.5l 20kr

Exercise 1
a) Opret en tabel som hedder 'milkshakes'

b) Indfør milkshakemenuen i tabellen 'milkshakes'

Exercise 2
a) Opret en metode til at se alle milkshakes i størrelsen 0.5l

b) Opret en metode til at indføre en ny milkshake

c) Opret en metode til at slette en milkshake

d) Opret en metode til at ændre i prisen på en milkshake

Exercise 3
Opret en restful webservice med følgende request:

Get all milkshakes - returner alle milkshakes fra milkshakes tabellen.
Add a milkshake - opretter en ny milkshake i milkshakes tabellen.

___
# Status

INGEN

___
## Test

In [1]:
import sqlalchemy as s_a
import mysql.connector as mysql

# for password with special chars we need url encoding: import urllib.parse; urllib.parse.quote_plus("somestrangepasswordkx%jj5/g"); # will return the encoded password to put in the connectionsstring

# dialect+driver://username:password@host:port/database
SQLALCHEMY_DATABASE_URL = "mysql+mysqlconnector://root:root@db/db"
engine = s_a.create_engine(SQLALCHEMY_DATABASE_URL)
connection = engine.connect()
query = 'select * from pythondemo'
resultProxy= connection.execute(query)
resultSet = resultProxy.fetchall()
print(type(resultProxy))
print(type(resultSet))
resultSet[:]

<class 'sqlalchemy.engine.result.ResultProxy'>
<class 'list'>

[(1, 'Henny', 'Petersen', datetime.datetime(2002, 2, 2, 0, 0), datetime.datetime(2002, 2, 3, 23, 0), 5000.0),
 (2, 'Hassan', 'Hassani', datetime.datetime(2018, 7, 7, 0, 0), None, 6000.0),
 (3, 'Hanne', 'Hansen', datetime.datetime(2002, 4, 3, 0, 0), None, 7000.0),
 (4, 'Jesper', 'FÃ¥rekylling', datetime.datetime(2002, 4, 3, 0, 0), datetime.datetime(2018, 7, 6, 22, 0), 4000.0)]

___
## Exercise 1

In [2]:
SQLALCHEMY_DATABASE_URL = "mysql+mysqlconnector://root:root@db/week_8"
engine = s_a.create_engine(SQLALCHEMY_DATABASE_URL)
con = engine.connect()
cnx = mysql.connect(host = "db", user = "root", passwd = "root", db = "week_8")

meta = s_a.MetaData()

milkshakes = s_a.Table(
    'milkshakes', meta,
    s_a.Column('id', s_a.Integer, primary_key=True, autoincrement=True),
    s_a.Column('flavor', s_a.String(20)),
    s_a.Column('size', s_a.String(20)),
    s_a.Column('price', s_a.String(20))
)

meta.drop_all(engine)
meta.create_all(engine, checkfirst=True)

In [3]:
# 1a+b
import pandas as pd

df = pd.DataFrame({'flavor':['Chokolade', 'Chokolade', 'Vanilje', 'Vanilje', 'Banan', 'Ananas', 'Mint'],
'size':['0.5', '0.75', '0.5', '0.75', '0.5', '0.5', '0.5'],
'price':['25', '30', '25', '30', '30', '30', '20',]})

df = df.applymap(str)
df.to_sql('milkshakes',con=engine, if_exists='append', index = False)
df

      flavor  size price
0  Chokolade   0.5    25
1  Chokolade  0.75    30
2    Vanilje   0.5    25
3    Vanilje  0.75    30
4      Banan   0.5    30
5     Ananas   0.5    30
6       Mint   0.5    20

___
## Exercise 2

In [4]:
from modules import week8Exercise

In [16]:
#2a
ResultSet = week8Exercise.getShakesBySize(con, 0.5)
ResultSet[:]

[(1, 'Chokolade', '0.5', '25'),
 (5, 'Banan', '0.5', '15'),
 (6, 'Ananas', '0.5', '30'),
 (7, 'Mint', '0.5', '20'),
 (8, 'Sennep', '0.5', '25')]

In [6]:
#2b
import pandas as pd

#week8Exercise.addNewShake(cnx, "Karamel", 0.5, 25)
week8Exercise.addNewShakeSQLALCH(con, "Sennep", 0.5, 25)

In [7]:
#2c
week8Exercise.removeShake(con, 3)

In [8]:
#2d
week8Exercise.changeShakePrice(con, 5, 15)

___
## Exercise 3

In [13]:
print(type(100))

<class 'int'>